* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #F2F5F7;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.page {
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  padding-bottom: 80px;
}

.header {
  position: relative;
  height: 80px;
  background-color: #18151F;
  padding: 20px 20px 20px 100px;
  text-align: right;
}

.header .header__logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 12px;
}

.header a {
  text-decoration: none;
}

.header a img {
  height: 40px;
  margin-left: 12px;
}


/* Slider */

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider__center-frame {
  width: 324px;
  height: 540px;
  overflow: visible;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider__frames-wrapper {
  width: 2916px; /* 324*8 */
  height: 540px;
  position: absolute;
  left: -648px;
  top: 0;

  transition: all ease-in-out 0.5s;
}

.slider__frames-wrapper[data-no-transition="true"] {
  transition: none;
}

.slider__frame {
  width: 304px;
  height: 540px;
  float: left;
  margin: 0 10px;
}

.slider__frame:last-child {
  float: none;
}